body {
  background-image: url(./dark3.jpeg);
  -webkit-background: cover;
  -moz-background: cover;
  -o-background: cover;
  background-size: cover;
  background-repeat: repeat;
 
}

/* .input-background{
  background-color: white;
  padding: 1%;
  border-radius: 5px;
  margin:5%;

} */